
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    body {
        background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    }

    .duv{
    
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

    }
    h1{
        background: linear-gradient(
            to right, #f32170, #ff6b08,
             #cf23cf);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family: sans-serif;
        font-size: 90px;
        padding: 10px;
        letter-spacing: 2px;
     
    }
    .duv2{
        background: linear-gradient(
            to right, #f32170, #ff6b08,
             #cf23cf);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

        font-size: 45px;
        letter-spacing: 10px;

    }
    .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

button {
  color: black;
  border-radius: none;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 8px;
  position: relative;
  top: 50px;
  border-color: none;
  font-family: sans-serif;

}

</style>
<body>
    
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="15"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <div class="nav1" style="width: 100%; display: flex; justify-content: center; align-items: center;">

            <ul class="navbar-nav">
              
                
                <li class="nav-item">
                    <a class="nav-link" href="#" style= "font-family: sans-serif;"><div class="dropdown">
                      <span style="position: relative; left: 40px;">Meet Schedule</span>
                      <div class="dropdown-content">
                        <p>Pending Meet</p>
                        <p>Scheduled Meet</p>
                      </div>
                
                </div></a>
                </li>
            </ul>
        
        </div>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
  
        <!-- Notifications -->
        <div class="dropdown">
          <div class="name" style="position: relative; right : 20px;"><%= emailaddress %></div>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
          </ul>
        </div>
        <!-- Avatar -->
        <div class="dropdown">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

  <!-- body main-->
 <div class="duv" >
    <h1>
        LET'S MEET     
    </h1> 
    <div class="duv2"> Schedule Your Meet  </div>
     
    <div class="buttons">

      <a href="/signup"><button type="button" class="btn btn-outline-primary"
       style="width: 150px;color:white; letter-spacing: 2px;">Sign Up</button>
       </a>
      <a href="/login"><button type="button" class="btn btn-outline-primary"
       style="width: 150px;color:white; letter-spacing: 2px;">Sign IN</button>
       </a>
    </div>
    </div>

   
</body>

</html>